*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background-image: url("../assets/images/imagem_fundo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position:  center;
    min-width: 100vw;
    min-height: 100vh;
}

.container-header{
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.container-image{
    border-right: 2px solid rgb(10, 56, 90);
    padding-right: 5px;
    padding-bottom: 0;
    height: 10vh;
}

.logo{
    height: 10vh;
    border-radius: 10px;
}

.container-title{
    display: flex;
    flex-direction: column;
    height: 10vh;
    padding-left: 5px;
    padding-bottom: 5px;
}

.title{
    font-family: 'Montserrat', sans-serif;
    color: rgb(10, 56, 90);
    font-size: xx-large;
    font-weight: 600;
    margin: 0;
}

.sub-title{
    font-family: 'Montserrat', sans-serif;
    color: rgb(10, 56, 90);
    font-weight: 200;
    margin: 0;
}

.container-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.container-a{
    margin: 10px 0;
    width: 275px;
    display: flex;
    justify-content: center;
}

a{
    background-color: #002854;
    width: 275px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

a:hover{
    background-color: #003b7a;
}

.container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    color: rgb(10, 56, 90);
}

@media (max-width: 992px){
    .line-pos{
        border-right: none;
    }

    body{
        background-image: url("../assets/images/imagem_fundo_Copia.jpg");
    }
}